.social__list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__list-item {
  &:not(:first-child) {
    margin-left: 12px;
  }
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50%;
  outline: none;

  &:hover,
  &:focus {
    border: 3px solid rgba(40, 54, 69, 1);
  }

  &:active {
    border: 3px solid rgba(40, 54, 69, 0.1);
  }

  &:active > svg {
    opacity: 0.3;
  }
}

.social__link > svg {
  fill: #d22856;
}

.social__link--twitter > svg {
  width: 18px;
  height: 14px;
}

.social__link--facebook > svg {
  width: 9px;
  height: 18px;
}

.social__link--youtube > svg {
  width: 15px;
  height: 13px;
}