.slider {
  position: relative;
  margin: 0;
  padding-bottom: 90px;
  list-style: none;
}

.slider__dots,
.slider .slick-dots {
  display: flex;
  margin: 0;
  padding: 0;
  position: absolute;
  content: "";
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
}

.slider__dots > li,
.slider .slick-dots > li {
  margin: 0 10px;
}

.slider__dots .slider__btn,
.slider .slick-dots button {
  padding: 3px;
  border: 3px solid #ffffff;
  border-radius: 50%;
  font-size: 0;
  background-color: #bec2c7;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: rgba(40, 54, 69, 0.6);
  }

  &:active {
    background-color: rgba(40, 54, 69, 0.1);
  }
}

.slider__dots .slider__btn--active,
.slider .slick-dots .slick-active button {
  padding: 3px;
  border: 3px solid #283645;
  background-color: transparent;
  outline: none;

  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
  }
}

@media (min-width: 1200px) {
  .slider .slick-arrow {
    position: absolute;
    content: "";
    top: 215px;
    width: 22px;
    height: 41px;
    padding: 0;
    border: none;
    font-size: 0;
    background-color: transparent;
    background-image: url("../img/slider-arrow.svg");
    background-repeat: no-repeat;
    opacity: 0.3;
    cursor: pointer;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.1;
    }
  }

  .slider .slick-prev {
    left: 0;
  }

  .slider .slick-next {
    right: 0;
    transform: rotate(180deg);
  }
}
