.slider {
  position: relative;
}

.slider__slide-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider__controls-list {
}

.slider .slick-dots {
  display: flex;
  margin: 0;
  padding: 0;
  position: absolute;
  content: "";
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
}

.slider__controls-item {
  margin: 0 10px;
}

.slider__controls-btn {
  width: 12px;
  height: 12px;
  padding: 0;
  border-radius: 50%;
  background-color: #bec2c7;
  cursor: pointer;

  &:not(.slider__controls-btn--active):hover {
    background-color: rgba(40, 54, 69, 0.6);
  }

  &:not(.slider__controls-btn--active):active {
    background-color: rgba(40, 54, 69, 0.1);
  }
}

.slider__controls-btn--active {
  width: 12px;
  height: 12px;
  border: 3px solid #283645;
  background-color: transparent;
}

.slider__arrows-list {
  display: none;
}

@media (min-width: 1200px) {
  .reviews blockquote {
    padding-right: 13.82%;
    padding-left: 13.82%;
  }

  .slider__arrows-list {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .slider__arrow {
    position: absolute;
    content: "";
    top: 215px;
    width: 22px;
    height: 41px;
    padding: 0;
    border: none;
    background-color: transparent;
    background-image: url("../img/slider-arrow.svg");
    background-repeat: no-repeat;
    opacity: 0.3;
  }

  .slider__arrow--prev {
    left: 10.83%;
  }

  .slider__arrow--next {
    right: 10.83%;
    transform: rotate(180deg);
  }
}
