.page {
  min-width: 320px;
  margin: 0 auto;
}

.page__subject-header {
  @include wrapper();

  padding-top: 55px;
  padding-bottom: 55px;
  background-color: #ffffff;
}

.page__subject-header b {
  display: block;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  color: #283645;
}

@media (max-width: 659px) {
  .page--index .page-footer {
    display: none;
  }
}

@media (min-width: 660px) {
  .page__subject-header b {
    font-size: 18px;
  }
}
