.contest__form {
  @include row-flex();
}

.contest__wrapper {
  @include wrapper();

  width: 100%;
  margin-right: 0;
  margin-left: 0;
}

.contest__form > .contest__wrapper {
  padding-bottom: 40px;

  &:nth-child(2n) {
    padding-top: 40px;
    background-color: #f2f2f2;
  }

  &:nth-child(2n+3) {
    padding-top: 40px;
  }
}

.contest__contacts-wrapper {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
}

.contest__form fieldset {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
}

.contest__option-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contest__user-name-list > li:not(:first-child),
.contest__contacts-list > li:not(:first-child) {
  margin-top: 23px;
}

.contest__achievement-list > li {
  &:not(:first-child) {
  margin-top: 45px;
  }
}

.contest__app-list > li {

  &:not(:first-child) {
    margin-top: 36px;
  }
}

.contest__form legend {
  display: block;
  margin-bottom: 40px;
  padding-right: 20px;
  padding-left: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #d22856;
}

.contest__btn-wrapper {
  text-align: center;
}

.contest__btn {
  display: block;
  width: 100%;
  padding: 15px;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  background-color: #2aab6d;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #1c9b5e;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #1c9b5e;
  }
}

.contest__btn-wrapper > b {
  display: block;
  margin-top: 40px;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #283645;
}

.contest__btn-wrapper > b > span {
  color: #d22856;
}

@media (min-width: 660px) {
  .contest__form > .contest__wrapper {
    &:nth-child(n) {
      order: 3;
      padding-top: 0;
      padding-bottom: 0;
      background-color: #ffffff;
    }

    &:nth-child(n+2) {
      margin-top: 60px;
    }

    &:nth-child(1) {
      order: 0;
      padding-bottom: 0;
    }

    &:nth-child(4) {
      order: 1;
    }
  }

  .contest__form > .contest__wrapper:nth-child(n + 2) fieldset {
    padding-right: 60px;
    padding-bottom: 50px;
    padding-left: 60px;
    border: 2px solid #e5e5e5;
  }

  .contest__contacts-wrapper {
    order: 2;
    margin-top: 60px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #ffffff;
  }

  .contest__contacts-wrapper fieldset {
    padding-right: 60px;
    padding-bottom: 50px;
    padding-left: 60px;
    border: 2px solid #e5e5e5;
  }

  .contest__user-name-list > li:not(:first-child) {
    margin-top: 50px;
  }

  .contest__app-list > li:not(:first-child) {
    margin-top: 35px;
  }

  .contest__form legend {
    padding-bottom: 0;
  }

  .contest__btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;
  }

  .contest__btn {
    width: 300px;
  }

  .contest__btn-wrapper > b {
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .contest__form {
    @include wrapper();
  }

  .contest__form>.contest__wrapper:nth-child(n) {
    padding-right: 0;
    padding-left: 0;
  }

  .contest__form > .contest__wrapper:nth-child(1) {
    @include col();
    @include size(6);

    align-self: flex-end;
    padding-right: 35px;
    padding-left: 0;
  }

  .contest__user-name-list > li:not(:first-child) {
    margin-top: 55px;
  }

  .contest__form > .contest__wrapper:nth-child(n + 2) fieldset {
    padding-right: 60px;
    padding-left: 60px;
  }

  .contest__form > .contest__wrapper:nth-child(4) {
    @include col();
    @include size(6);

    margin-top: -10px;
    padding-right: 0;
    padding-left: 35px;
  }

  .contest__form > .contest__wrapper:nth-child(4) > fieldset {
    padding-left: 75px;
    padding-right: 75px;
  }

  .contest__contacts-wrapper {
    padding-right: 0;
    padding-left: 0;
  }

  .contest__contacts-wrapper fieldset {
    padding-right: 60px;
    padding-bottom: 20px;
    padding-left: 60px;
  }

  .contest__form legend {
    padding-right: 25px;
    padding-left: 25px;
  }

  .contest__contacts-wrapper fieldset {
    padding-bottom: 20px;
  }

  .contest__contacts-list {
    display: flex;
    justify-content: space-between;
  }

  .contest__contacts-list li {
    width: 375px;

    &:not(:first-child) {
      margin-top: 0;
    }
  }

  .contest__achievement-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .contest__achievement-list li {
    width: 260px;

    &:not(:first-child) {
      margin-top: 0;
    }

    &:nth-child(n + 4) {
      margin-top: 43px;
    }
  }
}
