.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.modal--show {
  display: block;
}

.modal__text-wrapper {
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 35px;
  padding-left: 20px;
}

.modal__title {
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.modal__text {
  margin: 0;
  margin-top: 35px;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #283645;
}

.modal__btn-wrapper {
  padding-right: 20px;
  padding-bottom: 50px;
  padding-left: 20px;
  background-color: #ffffff;
}

.modal__btn-wrapper--bg-grey {
  padding-top: 50px;
  background-color: #f2f2f2;
}

.modal__btn {
  display: block;
  width: 100%;
  padding: 15px;
  border: none;
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2aab6d;
  cursor: pointer;

  &:hover {
    background-color: #1c9b5e;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #1c9b5e;
  }
}

@media (min-width: 660px) {
  .modal {
    width: 460px;
  }

  .modal__text-wrapper {
    padding-right: 75px;
    padding-left: 75px;
  }

  .modal__title {
    display: inline-block;
    width: 270px;
    font-size: 30px;
    line-height: 40px;
  }

  .modal__text {
    font-size: 18px;
  }

  .modal__btn-wrapper {
    padding-right: 80px;
    padding-left: 80px;
  }

  .modal__btn {
    padding: 11px;
  }
}

@media (min-width: 1200px) {
  .modal {
    width: 780px;
  }

  .modal__text-wrapper {
    padding-top: 45px;
    padding-right: 185px;
    padding-left: 185px;
  }

  .modal__title {
    width: auto;
  }

  .modal__btn-wrapper {
    padding-right: 160px;
    padding-left: 160px;
  }
}