input[type="text"],
input[type="tel"],
input[type="email"] {
  width: 100%;
  padding: 15px 20px;
  border: 2px solid #e5e5e5;
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
}

textarea {
  width: 100%;
  height: 197px;
  padding: 15px 20px;
  border: 2px solid #e5e5e5;
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
  &:placeholder {
    color: #283645;
  }

  &:hover,
  &:focus {
    border-color: #283645;
    outline: none;
  }

  &:active {
    border-color: #d22856;
    outline: none;
  }
}

.text,
.tel,
.email {
  cursor: pointer;

  & > span:nth-child(1) {
    display: inline-block;
    margin-bottom: 10px;
    padding-left: 23px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #d22856;
  }
}

.checkbox {
  display: inline-block;
  position: relative;
  padding-left: 70px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 400;
  cursor: pointer;

  &:hover > .checkbox__box {
    border-color: #283645;
  }

  &:active> .checkbox__box {
    border-color: #d22856;
  }
}

.checkbox__box {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
}

input[type="checkbox"]:focus + .checkbox__box {
  border-color: #283645;
}

input[type="checkbox"]:checked + .checkbox__box {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23d22856' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M7.8 19l14-14M7.8 19l-5.6-5.6'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: center;
}

.radio {
  display: inline-block;
  position: relative;
  min-height: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 70px;
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
  cursor: pointer;

  &:hover > .radio__box {
    border-color: #283645;
  }

  &:focus-within > .radio__box {
    border-color: #283645;
  }
}

.radio__box {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 40px;
  height: 40px;
  border: 2px solid #e5e5e5;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #ffffff;
}

input[type="radio"]:checked + .radio__box {
  &::before {
    border-color: #d22856;
  }

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 11px;
    width: 15px;
    height: 15px;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: #d22856;
  }
}

@media (min-width: 660px) {
  .text {
    display: flex;
    align-items: center;

    & > span:nth-child(1) {
      margin-right: 20px;
      margin-bottom: 0;
      padding-left: 0;
    }
  }

  .tel,
  .email {
    display: flex;
    flex-wrap: wrap;
    position: relative;

    & > span:nth-child(1) {
      margin-top: 15px;
      margin-bottom: 0;
      order: 1;
    }

    &::after {
      position: absolute;
      top: 2px;
      right: 2px;
      content: "";
      width: 60px;
      height: 60px;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .tel::after {
    background-image: url("../img/phone.svg");
    background-size: 20px 19px;
  }

  .email::after {
    background-image: url("../img/email.svg");
    background-size: 18px 13px;
  }
}

@media (min-width: 1200px) {
  .checkbox {
    padding-left: 60px;
  }
}
