.reviews__slider {
  @include wrapper();

  padding-top: 45px;
  background-color: #ffffff;
}

.reviews__slider blockquote {
  margin: 0;
  text-align: center;
}

.reviews__slider cite {
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  font-style: normal;
  color: #000000;
}

.reviews__slider cite > span {
  display: none;
}

.reviews__slider-text {
  margin: 0;
  margin-top: 25px;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
}

.reviews__controls-btn {
  border: 3px solid #ffffff;
}

@media (min-width: 660px) {
  .reviews__slider {
    padding-top: 0;
  }

  .reviews__slider blockquote {
    display: flex;
    flex-direction: column;
  }

  .reviews__slider cite {
    order: 2;
    margin-top: 40px;
    font-size: 20px;
    line-height: 30px;
  }

  .reviews__slider cite > span {
    display: block;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    color: #283645;
  }

  .reviews__slider-text {
    order: 1;
    margin-top: 0;
    font-size: 18px;
    line-height: 30px;
  }
}

@media (min-width: 1200px) {
  .reviews__slider {
    margin-right: auto;
    margin-left: auto;
    padding-top: 70px;
  }

  .reviews blockquote {
    padding-right: 120px;
    padding-left: 120px;
  }

  .reviews blockquote {
    position: relative;
    padding-top: 120px;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 50%;
      width: 79px;
      height: 63px;
      transform: translateX(-50%);
      background-image: url("../img/quotes.svg");
      background-repeat: no-repeat;
    }
  }

  .reviews__slider cite {
    font-size: 24px;
  }

  .reviews__slider cite > span {
    font-size: 18px;
  }
}
